@{
    ViewData["Title"] = "İletişim";
}

<h1>İletişim</h1>
<p>Bizimle iletişime geçmek için aşağıdaki bilgileri kullanabilirsiniz.</p>
<address>
    E-posta: info@example.com<br />
    Telefon: 123-456-7890
</address>
